.cont2,.devices{float:left}.cont2,.place,.overview{width:800px}.overview{height:70px}.cont3,.firmware{float:right}.cont3,.shift{margin-left:10px}.cont3{width:300px}.devices,.firmware{width:145px}.container{width:1130px;clear:right}.area_header{font-size:24px;padding-top:30px;clear:left}
